.container {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
  }
  
  .secondcontainer {
    margin-top: 1rem;
    flex-grow: 1;
  }
  
  .buttonsign {
    margin-left: auto;
    border: solid;
    padding: 1em 1em 1em 1em;
    white-space: nowrap;
    text-align: center;
    margin-top: 3em;
    border-width: 0.1em;
    border-radius: 6px;
    background-color: #394867;
    height: max-content;
  }